body{
    font-size: 16px;
    line-height: 1.5;
    background-color: #282E2B;
    font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}
.flex{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.article-header{
    padding: 32px 0;
    color:azure;
    text-transform: capitalize;
}
.article-header h1{
    font-size: 56px;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 4px 12px rgba(0,0,0,0.8);
}
.article-header h3{
    font-size: 32px;
    color: crimson;
    font-weight: 700;
}
.article-header time{
    font-size: 32px;
}
p{
    font-size: 20px;
    line-height: 1.7;
    color:#d5d5be;
    margin-bottom: 16px;
}
.h2{
    font-size: 48px;
    text-transform: capitalize;
    color: #ffffffff;
}